TOKEN=your_token_here # your discord bot token
APP_PATH= # the path to the data folder, default is ./data
ADMIN_ROLE=some-role # the role that can use specific commands for the bot
BOT_TIMEOUT=10 # after x minutes of inactivity the bot will leave the voice channel
BOT_CHANNEL=channel_name # the bot will pin messages in this channel